.select-container{
    width: 400px;
    height: 200px;
    background-color: #DDE3E9;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    padding: 10px;
    border-radius: 10px;
}

.select{
    width: 400px;
    height: 50px;
    padding: 10px;
    font-size: 20px;
}

.button-startGame{
    width: 400px;
    height: 50px;
    margin-top: 40px;
    font-size: 20px;
    background-color: #105D7A;
    color: white;
    border-radius: 10px;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.button-startGame:hover{
    background-color: gray;
}
