.game-won-text{
    color:#043951;
    font-size: 24px;
}

.play-again-button{
    width: 100px;
    height: 40px;
    background-color: #043951;
    color: white;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.play-again-button:hover{
    background-color: #0C897B
}
.fa-solid {
    color: #9ea01f;
    margin-left: 20px
}