.cards-container{
    width: 550px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
}




.card{
    width: 140px;
    height: 50px;
    border: 4px solid #2186CB;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    color: black;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    padding: .5rem;
    background-color: white;

}


.input-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input{
    width: 50%;
    height: 50px;
    border-radius: 10px;
    border: 0;
}